
header {
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #333;
}

header h1,
header h2,
header a,
header a:hover {
	text-align: center;
	color: #FFF;
}

footer {
	margin-top: 2em;
}

article {
	margin-top: 2em;
}

nav {
	margin-top: 2em;
}

table {
	width: 100%;
}

table .button {
	width: 100%;
}