/*
 * Styles for board
 * 
 * (c) Dmitriy Pankov 2015
 */

/* Base */

html,
body {
	width: 100%;
	height: 100%;
}

/* Board */

.dp-board {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #EEE;
}

.dp-board-layer-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dp-board-layer-map {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px;
	height: 160px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dp-board-event-facade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* DOM Layer */

.dp-dom-layer {
	position: absolute;
	overflow: visible;
	width: 0px;
	height: 0px;
}

.dp-dom-layer-shape {
	position: absolute;
	overflow: visible;
	width: 0;
	height: 0;
}

.dp-dom-layer-widget {
	overflow: hidden;
	line-height: 1.0;
	box-sizing: content-box;
}

	.dp-dom-layer-widget p {
		margin-bottom: 1em;
	}

		.dp-dom-layer-widget p:last-child {
			margin-bottom: 0em;
		}

/* Canvas Layer */

.dp-canvas-layer {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
}

/* App */

.dp-app,
.dp-board-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.dp-zoom {
	position: absolute;
	bottom: 1.25rem;
	left: 1.25rem;
}

.dp-render {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
}

	.dp-zoom .button,
	.dp-render .button {
		margin-bottom: 0;
	}

.dp-mock-text-height {
	visibility: hidden;
	line-height: 1.0;
	box-sizing: content-box;
	position: absolute;
	top: -10000px;
	left: -10000px;
}

	.dp-mock-text-height p {
		margin-bottom: 1em;
	}

		.dp-mock-text-height p:last-child {
			margin-bottom: 0em;
		}
