---
title: Bulls and Cows - dimantiy.github.io
layout: layout.html
path: ../
---
	<article ng-app="CowsApp">
		<div class="row">
			<div class="large-12 columns">
				<h1>Быки и коровы</h1>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns" ng-controller="SolverCtrl as ctrl">
				<h3>Компьютер</h3>
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Число</th>
							<th>Быки</th>
							<th>Коровы</th>
						</tr>
					</thead>
					<tfoot>
						<tr ng-hide="ctrl.IsComplete">
							<td></td>
							<td>{{ctrl.Number}}</td>
							<td>
								<form ng-submit="ctrl.addStep(ctrl.Number, ctrl.Bulls, ctrl.Cows)">
									<input type="text" ng-model="ctrl.Bulls" autocomplete="off" style="margin: 0;" />
								</form>
							</td>
							<td>
								<form ng-submit="ctrl.addStep(ctrl.Number, ctrl.Bulls, ctrl.Cows)">
									<input type="text" ng-model="ctrl.Cows" autocomplete="off" style="margin: 0;" />
								</form>
							</td>
						</tr>
						<tr ng-hide="ctrl.IsComplete">
							<td></td>
							<td></td>
							<td>
								<button class="button tiny" style="margin: 0;" ng-click="ctrl.addStep(ctrl.Number, ctrl.Bulls, ctrl.Cows)">Сделать ход</button>
							</td>
							<td>
								<button class="button tiny" style="margin: 0;" ng-click="ctrl.rollback()">Отменить ход</button>
							</td>
						</tr>
						<tr ng-show="ctrl.IsComplete">
							<td></td>
							<td>
								<button class="button tiny" style="margin: 0;" ng-click="ctrl.start()">Сыграть еще</button>
							</td>
							<td colspan="2"></td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="step in ctrl.Steps">
							<td>{{$index + 1}}</td>
							<td>{{step.Number}}</td>
							<td>{{step.Bulls}}</td>
							<td>{{step.Cows}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="large-6 columns" ng-controller="ProposerCtrl as ctrl">
				<h3>Игрок</h3>
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>Число</th>
							<th>Быки</th>
							<th>Коровы</th>
						</tr>
					</thead>
					<tfoot>
						<tr ng-hide="ctrl.IsComplete">
							<td></td>
							<td>
								<form ng-submit="ctrl.addStep(ctrl.Number)">
									<input type="text" ng-model="ctrl.Number" autocomplete="off" style="margin: 0;" />
								</form>
							</td>
							<td colspan="2">
								<button class="button tiny" style="margin: 0;" ng-click="ctrl.addStep(ctrl.Number)">Сделать ход</button>
							</td>
						</tr>
						<tr ng-show="ctrl.IsComplete">
							<td></td>
							<td>
								<button class="button tiny" style="margin: 0;" ng-click="ctrl.start()">Сыграть еще</button>
							</td>
							<td colspan="2"></td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="step in ctrl.Steps">
							<td>{{$index + 1}}</td>
							<td>{{step.Number}}</td>
							<td>{{step.Bulls}}</td>
							<td>{{step.Cows}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</article>
	
	<script src="cows.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script>
        function _setHash(page)
        {
            window.location.hash = "p=" + page;
        }
		angular.module("CowsApp", [])
			.controller("ProposerCtrl", function ()
			{
				var self = this;
				
				self.start = function ()
				{
					self.Proposer = new DP.Proposer();
					self.Steps = [];
					self.IsComplete = false;
					self.Number = "";
                    _setHash("player_start");
				};
				
				self.addStep = function (number)
				{
					try
					{
						var step = self.Proposer.check(number);
						this.Steps.push(step);
						self.IsComplete = number.length === step.Bulls;
						self.Number = "";
                        if (self.IsComplete)
                        {
                            _setHash("player_finish");
                        }
					}
					catch (e)
					{
						alert(e);
					}
				}
				
				self.start();
			})
			.controller("SolverCtrl", function ()
			{
				var self = this;
				
				self.start = function ()
				{
					self.Solver = new DP.Solver();
					self.Number = self.Solver.getNumber();
					self.Bulls = 0;
					self.Cows = 0;
					self.IsComplete = false;
					self.Steps = [];
                    _setHash("computer_start");
				};
				
				self.rollback = function ()
				{
					if (self.Steps.length)
					{
						var s = self.Steps.pop();
						self.Solver.rollback();
						self.Number = s.Number;
						self.Bulls = s.Bulls;
						self.Cows = s.Cows;
					}
				};
				
				self.addStep = function (number, bulls, cows)
				{
					try
					{
						bulls = bulls ? bulls * 1 : 0;
						cows = cows ? cows * 1 : 0;
						var step = self.Solver.addStep(number, bulls, cows);
						self.IsComplete = number.length == step.Bulls;
						if (!self.IsComplete)
						{
							self.Number = self.Solver.getNumber();
							self.Bulls = 0;
							self.Cows = 0;
						}
                        else
                        {
                            _setHash("computer_finish");
                        }
						self.Steps.push(step);
					}
					catch (e)
					{
						alert(e);
					}
				};
				
				self.start();
			});
	</script>